<!DOCTYPE html ng-app="lambda.bilan">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="logoutController">

<script type="text/javascript"  src="../../assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../controllers/logoutController.js"></script>
<script type="text/javascript" src="../../services/utils.js"></script>
<script type="text/javascript" src="../../services/security.js"></script>
</body>
</html>